body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav > ul {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.nav {
  width: 1000px;
  padding: 20px;
  background-color: midnightblue;
  margin: auto;
}

.nav > ul > li {
  cursor: pointer;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav > ul > li > a.active {
  color: blue;
}

.nav > ul > li > a:hover {
  color: red;
}
.AboutUs, .Homepage, .Contacts {
  font-size: 30px;
  text-align: center;
}