body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav > ul {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.nav {
  width: 970px;
  padding: 20px;
  background-color: midnightblue;
  margin-left: 180px;
}

.nav > ul > li {
  cursor: pointer;
}

.nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav > ul > li > a.active {
  color: blue;
}

.nav > ul > li > a:hover {
  color: red;
}
.AboutUs, .Homepage, .Contacts {
  font-size: 30px;
  text-align: center;
}

.Homepage > ul {
  list-style: none;
  margin-top: 30px;

}
.Homepage {
  margin: auto;
  width: 1000px;
}

.Homepage > ul > li {
  padding: 5px;

}

.Homepage > ul > li:nth-child(odd) {
  background-color: gray;
}

.Homepage > ul > li:nth-child(even) {
  background-color: lemonchiffon;
}

.link-no-underline {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.SinglePost {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}